venv 
/venv 
__pycache__
    
*.html
*.css
*.js
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.webp
*.json
*.xml
*.yaml
*.yml
/logs
/data
/data/ip_tracker.db
/data/ip_tracker.db-journal
/data/ip_tracker.db-lock
/data/ip_tracker.db-trace
/data/ip_tracker.db-wal
.env 
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local


            